
/* ==========================================================================
   Base Styles and Bootstrap Modifications
   ========================================================================== */
html.bx-imopenlines-config-mobile {
  overflow: visible;
}
html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

 img {
    vertical-align: middle;
}

/*
 * Allow only vertical resizing of textareas.
 */

 textarea {
    resize: vertical;
}


/* ==========================================================================
   General styles
   ========================================================================== */

html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.col-md-4 {
  padding-bottom: 20px;
}

/*.row {
margin-right: 0px;
margin-left: -15px;
}*/

.modal-header {
  background: #3498db;
}

.modal-header h4 {
  color: white;
}

.modal-footer {
  background: #2b2b2b;
}


.navbar-default {
border-color: transparent;
background-color: #dadada;
}


.navbar-toggle {
border-color: transparent;
border: 0px solid transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #16a085;
  color: white;
}



hr {
    position: relative;
    border: none;
}

hr:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: 2px;
    background: #ccc;
}

a img {
    background: white;
}

.odd a img {
    background: #f5f5f5;
}

/* Titles */
h1, h2, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}
h3, h4 {
  font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

.paragraph-lead {
    font-size: 20px;
    color: #3498db;
}

strong {
    font-weight: 700;
}

em {
    font-weight: 300;
}

pre {
    background: #ebebeb;
    border: none;
    font-family: "Monaco";
    font-size: 16px;
    color: #666;
    padding: 20px;
    line-height: 28px;
}

small {
    font-size: 12px;
}

blockquote,
blockquote p {
    line-height: 28px;
    color: #999;
    font-weight: 300;
    font-style: italic;
}

blockquote {
    position: relative;
    margin: 0 0 40px -30px;
    padding-left: 30px;
    border-left: 5px solid #3498db;
}

blockquote cite {
    position: absolute;
    bottom: -25px;
    right: 0;
    font-size: 12px;
    font-style: italic;
    color: #333;
    font-weight: 300;
}

blockquote cite:before {
    content: "-- "
}

/* Images */
.overflow-image {
    margin-top: -65px;
}

/* Links */
a {
    color: #3498db;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #c0392b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}



/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap { 
  margin-top: -50px;
  padding-top:80px;
/*  text-align:center;*/
  background-attachment: relative;
  background-position: center center;
  min-height: 650px;
  width: 100%;
    background-size: 100%;
    background-size: cover;
}

#headerwrap h1 {
  color:#ffffff;
  margin-top: 90px;
  padding-bottom: 30px;
  font-weight: bold;
}

#headerwrap p {
  color:#ffffff;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  line-height: 40px;
  letter-spacing: 3px;
  margin-left: 15px;
  text-shadow: 1px 1px 1px #000;
}

#greywrap {
  background: #f5f5f5;
  margin-top: 0px;
  padding-top: 80px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

#greywrap .callout {
  margin-bottom: 20px;
}

#greywrap p {
  margin-left: 30px;
  margin-right: 30px;
  letter-spacing: 1px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#greywrap .icon {
  font-size: 60px;
  line-height: 30px;
  margin-bottom: 10px;
  color: #abb7ce;
}

#footerwrap {
  position: relative;
  background: #2b2b2b;
  margin-top: 0px;
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

#footerwrap h4 {
  color: white;
}




/* ==========================================================================
   Box Sections
   ========================================================================== */

.white h1 {
  padding-top: 35px;
}

.white p {
  padding-top: 25px;
}

/* Section Dividers */
.section-divider {
    z-index: 999;
    width: 100%;
    display: table;
    max-height: 450px;
    border-bottom: 2px solid #E6EAED;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 70px;
    margin-top: 45px;


    background-position: center center;
    background-size: 100%;
    background-size: cover;

    background-attachment: relative;
    
    text-align: center;
}

.textdivider h1 {
  padding-top: 70px;
  color: white;
  font-size: 40px;
}

.textdivider p {
  color: white;
  font-size: 25px;
}

/* ==========================================================================
   Services Section
   ========================================================================== */

.service-trigger {
    display: block;
  position: relative;
    margin-bottom: 15px;
    color: white;
    font-size: 20px;
    text-align: center;
    height: 168px;
    cursor: pointer;
  padding: 90px 20px 50px 20px;
    border: none;
    background: #333;
}

.service-trigger:before {
    width: 100%;
    top: 50px;
    color: #3498db;
    font-size: 36px;
    text-align: center;
  position: absolute;
  left: 0;
}

.service-active .service-trigger {
    background: #222;
}

.service-active p {
  font-family: 'Open Sans', sans-serif;
  padding-top: 10px;
}

.service-content {
    padding: 15px 20px;
    background: #e6eaed;
    display: block;
    height: auto
}

.service-content p:last-child {
    margin: 0;
}


/* ==========================================================================
   Image Mask
   ========================================================================== */

.grid figure {
  margin: 0;
  position: relative;
}

.grid figure img {
  width: 100%;
  display: block;
  position: relative;
}

.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  color: #fff;
  background: #3498db;
}

.grid figcaption h5 {
  margin: 0;
  padding-top: 0px;
  padding-left: 20px;
  padding-bottom: 5px;
  color: #fff;
  font-weight: 700;
  text-align: left;
  letter-spacing: 2px;
  
}

.grid figcaption a {
  text-align: left;
  padding: 5px 10px;
  margin-left: 20px;
  display: inline-block;
  background: #2f2f2f;
  color: #fff;
  font-size: 13px;
}

/* Caption Style */
.mask figure {
  overflow: hidden;
}

.mask figure img {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.no-touch .mask figure:hover img,
.mask figure.cs-hover img {
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
}

.mask figcaption {
  height: 50px;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.3s 0.3s;
  -webkit-transition: opacity 0.3s 0.3s, -webkit-transform 0.4s;
  transition: opacity 0.3s 0.3s, -webkit-transform 0.4s;
  transition: transform 0.4s, opacity 0.3s 0.3s;
  transition: transform 0.4s, opacity 0.3s 0.3s, -webkit-transform 0.4s;
}

.no-touch .mask figure:hover figcaption,
.mask figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -webkit-transition: opacity 0.1s, -webkit-transform 0.4s;
  transition: opacity 0.1s, -webkit-transform 0.4s;
  transition: transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s, -webkit-transform 0.4s;
}

.mask figcaption a {
  position: absolute;
  top:10px;
  bottom: 10px;
  right: 30px;
}


/* ==========================================================================
   Blog Section
   ========================================================================== */

.blog-bg {
  background: #2b2b2b;
  padding-right: 0px;
  padding-left: 0px;
  
}

.blog-bg h4 {
  color: #dadada;
  padding-top: 0px;
}

.blog-bg h5 {
  color: #dadada;
  font-size: 11px;
}

.blog-content {
  padding-top: 10px;
  background: #f2f2f2;
}

/* ==========================================================================
   PORTFOLIO
   ========================================================================== */
.new_portfolio-active img {
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}
.new_portfolio-active figcaption {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.new_portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.new_portfolio .grid {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 300px;
            flex: 1 1 300px;
    margin:3px ;
    border:none;
}
@media screen and (max-width:600px){
    .mobile_item-hidden {
        display: none;
    }
}
@media screen and (max-width:320px){
    .new_portfolio {
        display: inherit;
    }
}


header {
  position: relative;
  z-index: 4;
}
#headerwrap h1 {
  margin-top: 220px;
  font-size: 2.5em;
  text-align: left;
}
.h1_title {
  font-size: 2em;
  line-height: 1em;
}
@media screen and (max-width: 480px){
  .h1_title {
  font-size: 1.2em;
  line-height: inherit;
  color: #fff;
  }
}
#headerwrap {
  position: relative;
}
#headerwrap .img_wrap {
  /*max-width: 150px;
  height: 150px;*/
  margin-top: -16px;
  /*background-color: #abb7ce;
  position: relative;*/
}
/*#headerwrap img {
  position: absolute;
  right: 0;
  bottom: 0;
}*/
.black_char {
  color: #2d343a;
}
/* ==========================================================================
   header_nav
   ========================================================================== */
.header_nav {
  float: right;
}
.header_nav .nav a {
  color: #fff;
  font-size: 1em;
}
.header_nav .nav>li>a:focus, .header_nav .nav>li>a:hover {
    text-decoration: none;
    background-color: #00aeef;
}
#fixed_nav .nav>li>a:last-child{
  padding-right: 0;
}
.img_wrap {
  float: left;
}
.right {
  float: right;
}

.phone_back {
  font-size: 1.3em;
  line-height: 1.4em;
  color: #272727;
}
#greywrap .phone_back .icon {
  font-size: 1.2em;
  line-height: 1.4em;
  vertical-align: middle;
  color: #00aeef;
  margin-right: 5px;
}
.blue_char {
  color: #00aeef;
}
/* ==========================================================================
   MNU MOBILE
   ========================================================================== */



.navbar-fixed-top {
  opacity: 0;
  top: -50px;
  -webkit-transition: ease-in-out 0.4s all;
  transition: ease-in-out 0.4s all;
}
.navbar-fixed-top-of {
  /*display: none;*/
  opacity: 1;
  top: 0;
}
.mobile-nav-button {
  display: none;
  width: 35px;
  position: absolute;
  margin: 2rem;
  margin-top: 15px;
  right: 0;
  top: 0;

  cursor: pointer;
  width: 35px;
  height: 30px;
}
.mobile-nav-button .mobile-nav-button__line {
  width: 100%;
  height: 4px;
  background: #fff;
  position: relative;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}
.mobile-nav-button .mobile-nav-button__line:nth-of-type(2) {
  margin: 0.5rem 0;
}
/*.mobile-nav-button .mobile-nav-button__line--1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 13px;
  position: absolute;
  background: #fff;
}
.mobile-nav-button .mobile-nav-button__line--2 {
  display: none;
}
.mobile-nav-button .mobile-nav-button__line--3 {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 13px;
  position: absolute;
  background: #fff;
}*/
#fixed_nav .img_wrap{
  height: 50px;
  margin-top: 0;
}
#fixed_nav .img_wrap img {
  height: 100%;
}


.mobile-menu {
  position: fixed;
  display: block;
  max-width: 220px;
  width: 80%;
  right: -100%;
  height: 100vh;
  background: #646b79;
  z-index: 9998;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  top: 0;
  opacity: 0;
}

.mobile-menu ul {
  margin-top: 10px;
  padding-left: 0px;
}
.mobile-menu ul li {
  list-style: none;
}
.mobile-menu ul li a {
  box-sizing: border-box;
  display: block;
  max-width: 1200px;
  width: 100%;
  text-align: left;
  text-decoration: none;
  /*background-color: #a2acc3;*/
  border-top: 1px solid rgba(166,176,199,0.29);
  color: #f9f9f9;
  font-size: 2.5rem;
  font-weight: bold;
  overflow: hidden;
  position: relative;
  line-height: 4.4rem;
}
.mobile-menu .first{
  border-top:1px solid transparent;
}
.mnu__icon {
  display: inline-block;
  width: 50px;
  line-height: 4.7rem;
  text-align: center;
  color: #e7eeff;
}

.mobile-menu ul li a:hover {
  color: #fff;
}

.mobile-menu--open {
  right: 0;
  opacity: 1;
}



@media screen and (max-width: 1000px) {
    .mobile-nav-button {display: block;}
    .navbar-nav {display: none;}
}
/*@media only screen and (max-height : 640px) { 
  .mobile-menu {
    height: 640px;
  }
}
@media only screen and (max-height : 480px) { 
  .mobile-menu {
    height: 480px;
  }
  .mobile-menu ul {
    margin-top: 70px;
  }
  #headerwrap h1 {
    margin-top: 100px;
    text-align: center;
  }
}
@media only screen and (max-height : 360px) { 
  .mobile-menu {
    height: 360px;
  }
  .mobile-menu ul {
    margin-top: 45px;
  }
}
@media only screen and (max-height : 320px) { 
  .mobile-menu {
    height: 320px;
  }
  .mobile-menu ul {
    margin-top: 10px;
  }
}*/





/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */



@media screen and (max-width:1050px), screen and (max-device-width:1050px){
  body .header{background-attachment: scroll;}
}


/*ipad portrait*/
@media only screen and (min-device-width:768px) and (max-device-width : 1024px) and (orientation : portrait){
  .header{background-attachment: scroll;}
}

@media screen and (max-width:769px) {
  
  #headerwrap p {
    font-size: 30px;
    line-height: 38px;
  }
}

/* ==========================================================================
   TABLE
   ========================================================================== */

.price__table {
  width: 100%;
  text-align: left;
  margin-bottom: 100px;
}


#greywrap .price__table .icon {
  border-radius: 50%;
  font-size: 30px;
  padding: 10px;
  background-color: #fff;
}
.price__table .icon:before {
  color: #00aeef;
}


.price__table_head {
  background-color: #00aeef;
  color: #fff;
  font-size: 1.2em;
}
.price__table td {
  padding: 20px 10px;
  border-top: 1px solid #ccc;
  color: #000;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 1.1em;
  }

@media screen and (max-width: 480px){
  .price__table td {
    font-size: 0.9em;
  }
}
.price__table tr:first-child td {
  border-top: 1px solid transparent;
}

.price__table td:nth-child(2) {
  border-right: 1px solid transparent;
}
.footerwrap-bottom {

}
/*.price__table th, .price__table td {
  padding-left: 10px;
  padding-right: 10px;
}*/


.left_text {
  text-align: left;
}
.right_text {
  text-align: right;
  margin-top: 60px;
}
.left_hr:before {
  left: 0;
}
.right_hr:before {
  left: inherit;
  right: 0;
}
@media screen and (max-width: 600px){
  .h1_title {
    font-size: 1.7em
  }
}
@media screen and (max-width: 480px){
  .left_text, .right_text {
  text-align: center;
}

.left_hr:before {
  left: 25%;
}
.right_hr:before {
  left: 25%;
  right: inherit;
}
#headerwrap h1 {
  font-size: 2.3em;
}
.h1_title {
    font-size: 1.2em;
}
}

.overflow {
  overflow: hidden;
}

.people__img {
  margin-bottom: 80px;
}
@media screen and (max-width: 320px) {
    #headerwrap h1 {
    font-size: 2em;
  }
}


.col_back-tel {
  float: right;
  margin-right: 30px;
  display: none;
}
@media screen and (max-width: 1000px){
  .col_back-tel{
    display: block;
    margin-right: 50px;
  }
}
@media screen and (max-width: 990px){
  .col_back-tel{
    display: block;
    margin-right: 30px;
  }
}
@media screen and (max-width: 1000px){
  .col_back-tel{
    display: block;
  }
}
@media screen and (max-width: 780px){
  .col_back-tel {
    margin-right: 50px;
  }
}
.col_back-tel a{
  display: block;
  line-height: 50px;
  font-size: 1.2em;
  color: #fff;
}
.col_back-tel a .icon {
vertical-align: bottom;
}

@media screen and (max-width: 340px){
  .col_back-tel {
    margin-right: 40px;
    text-align: center;
    float: none;
  }
  .col_back-tel .icon{
    display: none;
  }
}
.social {
  text-align: center;
  margin: 5px 0;
}
.social__list {
  list-style: none;
  padding: 0;
}
.social__item {
  display: inline-block;
}
.social__item a {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #525252;
  border-radius: 50%
}
.social__item a:hover{
  background-color: #00aeef;
}
.social__icon {
  line-height: 30px;
  color: #fff;
  transition: ease-in-out 0.2s all;
}
.bitrix24 {
  position: absolute;
  width: 68px;
  height: 50px;
  right: 45px;
  top: 50px;
}
.bitrix24__icon {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/bitrix24.png);
  -webkit-background-size: cover;
  background-size: cover;
}


@media screen and (min-width: 1400px){
  .partner__line {
    max-width: 30%;
  }
}
.partners{
  margin-bottom: 40px;
}
.partners a img {
  background-color: transparent;
}
.partners__container {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.partners .white p {
  padding-top: 0;
}
.partner__line {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 300px;
            flex: 1 1 300px;
    margin: 20px 10px;
    transition: ease-in-out 0.2s all;
}
.partner__line:hover {
  cursor: pointer;
  background-color: rgba(171,182,207,0.22);
}
.partner__line a{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.partner__text {
  display: block;
  margin: 0 auto;
  color: #272727;
  padding: 0 15px 15px 15px;
}
.partner__logo-wrap {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  width: 100%;
}
.partner__logo {
  display: block;
  margin: auto;
  min-height: 40px;
  max-height: 80%;
  max-width: 200px;
}