*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
.childhood {
	background-image: url(img/1497.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: right bottom;
	height: 474px;
	padding-top: 100px;
	color: #fff;
	position: relative;
}
.childhood_text {
	margin-left: 40px;
}
.childhood_text h2 {margin-bottom: 30px;}
.childhood .numb_h {
	color: #f4f4f4;
    font-size: 36px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 36px;
    margin: 0;
}
.childhood .grey_h {
	font-size: 80px;
    letter-spacing: 7.9px;
    line-height: 62px;
    margin: 0;}
.childhood .white_h {
	font-size: 62px; 
	letter-spacing: 0.5px;
	margin: 0;    
	line-height: 57px;
}
.childhood .red_h {
	font-size: 49px; 
	letter-spacing: 0.5px;
	text-transform: uppercase;
	margin: 0;    
	line-height: 45px;
}
.left_h {float: left;width: 180px;}
.right_h {float: left;width: 330px;}
.text_box {
	background-color: rgba(45,45,45,.72);
	padding: 20px 15px 52px;
}
.text_box1 {
	float: left;
	width: 219px;
	margin-right: 27px;
}
.battalion {
	height: 483px;
	background-image: url(img/battalion.jpg);
	background-position: right -5px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 120px 0;
}
.battalion .red_h {
	font-size: 55px;
	letter-spacing: 0.01px;
	line-height: 55px;
}
.battalion .black_h {
	font-size: 63px;
	letter-spacing: 2.95px;
	text-transform: uppercase;
	line-height: 51px;
}
.battalion h2 {position: relative;}
.battalion h2:after {
	content: '';
    position: absolute;
    bottom: -46px;
    left: 0px;
    height: 3px;
    width: 170px;
    background-color: #e91b1b;
}
.battalion p {
	margin-top: 80px;
	color: #363434;
	font-size: 15px;
	max-width: 548px;
}
.presentation {
	padding-bottom: 50px;
	padding-top: 10px;
	background-color: #303030;
	color: #fff;
}
.foto_presentation {
	background-image: url(img/presentation_bg.jpg);
	background-position: left top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 65px 0 10px;
}
.top_text .grey_h {
	font-size: 70px;
	color: #999898;
	letter-spacing: 0.01px;
	line-height: 70px;
}
.top_text .white_h {
	font-size: 21px;
    letter-spacing: 0.39px;
    line-height: 21px;
    margin-left: 1px;
    font-family: "Open Sans";
    font-weight: 400;
}
.top_text .red_h {
	font-size: 64px;
    letter-spacing: 0.9px;
    line-height: 53px;
}
.top_text p {
	font-size: 14px;
    line-height: 24px;
    max-width: 511px;
    letter-spacing: 0.29px;
}
.top_text {margin-bottom: 60px;}
.foto_box {
	background-color: rgba(61,61,61,.78);
	padding: 20px 15px 30px;
}
.foto_box_item img {
	width: 100%;
	max-width: 294px;
	max-height: 166px;
}
.text_item .red_h {
	font-size: 21px;
    letter-spacing: 1px;
    margin: 10px 0 3px;
}
.text_item p {
	font-size: 13px;
	padding-right: 20px;
}
#owl-demo .item {
	margin: 0 1px;
}
#owl-demo .item img {
	display: block;
	width: 100%;
	height: auto;
}
.owl_wrap {height: 150px;margin-top: 40px;}
.mfp-title {display: none;}
.video_presentation {
	padding: 70px 0 20px;
}
.video_presentation p {
	color: #eae8e8;
	line-height: 24px;
	letter-spacing: 0.3px;
	padding: 40px 16px 0 0;
	margin-top:48px; 
}
.video_presentation h3 {
	font-size: 20px; 
	line-height: 20px;
	letter-spacing: 0.4px;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	margin-bottom: 20px;
	margin-left: 7px;
}
.video_presentation .text_head .red_h {
	float: right;
	font-size: 24px;
	letter-spacing: 0.4px;
	margin-top: 33px;
	font-family: "Impact", sans-serif;
	font-weight: 200;
}
.video_presentation .video {
	width: 100%;
	max-width:725px ;
	height:420px;
}
iframe {height: 100%;width: 100%;}
.about {
	padding: 120px 0;
}
.about h2 {
	float: right;
	font-size: 61px;
	letter-spacing: 0.3px;
	position: relative;
	margin-bottom: 80px;
}
.about h2:after {
	content: '';
    position: absolute;
    bottom: -11px;
    right: 0;
    height: 3px;
    width: 188px;
    background-color: #e91b1b;
}
.about h3 {
	color: #363434;
	font-size: 25px;
	position: relative;
}
.about h3:after {
	content: '';
    position: absolute;
    bottom: -14px;
    left: 0;
    height: 2px;
    width: 66px;
    background-color: #e91b1b;
}
.about h4 {
	color: #4c4a4a;
	font-size: 15px;
	font-family: "Open Sans",sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	margin: 10px 0 5px 0;
}
.about span {
	font-size: 12px;
	color: #646161;
	margin-left: 77px;
}
.about_text {
	max-width: 490px;
    height: 240px;
    position: relative;
}
.about_button {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 120px;
	line-height: 25px;
	font-size: 13px;
	background-color: #363434;
	color: #fff;
	padding: 0 25px;
}
.about_button:focus{
	outline: none;
	color: #fff;
	text-decoration: none;
}
.about_button:hover{
    text-decoration: none;
    background: #D24141;
    color: #fff;
    -webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
}
.order {
	padding: 240px 0 70px 0;
	background-image: url(img/order_bg.jpg);
	background-position: left top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #e5eeec;
	
}
.order p {
	font-size: 15px;
	line-height: 24px;
	margin-bottom: 50px;
	max-width: 350px;
 }
 .order h2 .black_h {
 	font-family: "Open Sans",sans-serif;
 	font-weight: 600;
 	font-size: 36px;
 	letter-spacing: 0.1px;
 	line-height: 30px;
 }
 .order h2 .n2 {
 	font-size: 41px;
 	letter-spacing: 1.3px;
    line-height: 11px;
 }
  .order h2 .white_h {
  	font-size: 52px;
  	letter-spacing: 0.1px;
  	line-height: 50px;
  	text-transform: uppercase;
  }
   .order h2 {margin-bottom: 20px;}
   .order_cont {
   	text-align: center;
   	padding: 25px 0;
   	background-color: #a12121;
   	color: #fff;
}
.order_cont .white_h {
	text-transform: uppercase;
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
.order_cont a {
	font-family: "impact", sans-serif;
	font-size: 25px;
	letter-spacing: 2.5px;
	margin: 0 35px;
	color: #fff;
}
.organizers {
	background-image: url(img/organizers_bg.png);
	background-repeat: repeat;
	padding: 100px 0;
}
.organizers .red_h {
	font-size: 50px;
	line-height: 40px;
	letter-spacing: 3.2px;
}
.organizers .black_h {
	font-size: 36px;
	line-height: 47px;
}
.organizers h2 {
	margin-bottom: 40px;
}
.organizers .owl_wrap {
	height: inherit;
	margin-top: 0;
}
.organizers .owl {
	background-image: url(img/owl_bg.jpg);
	background-position: right bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 650px;
}
.around_foto {
	width: 220px;
	height: 220px;
	display: block;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border: 1px solid #fff;
	overflow: hidden;
	float: right;
}
.around_foto:hover {
	transform: scale(1.01,1.01);
	-webkit-transform: scale(1.01,1.01);
	-moz-transform: scale(1.01,1.01);
	-o-transform: scale(1.01,1.01);
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
}
.owl_content {padding: 15px 0 40px 0;}
.owl_content a h3 {
	color: #d24141;
	font-size: 24px;
	letter-spacing: 0.9px;
	text-shadow: 2px 2px 3px #4f1414;
	-webkit-text-shadow: 2px 2px 3px #4f1414;
	-moz-text-shadow: 2px 2px 3px #4f1414;
	-o-text-shadow: 2px 2px 3px #4f1414;
	line-height: 28px;
	margin-left: -2px;
}
.owl_wrap .owl-theme .owl-controls .owl-page span{
	background: #fff;
	opacity: 1;
}
.owl_wrap .owl-theme .owl-controls .owl-page.active span {
	opacity: 0.5;
}
.owl_content a {
	color: #363434;
	font-size: 14px;
	font-weight: 600;
	display: block;
    width: 205px;
    line-height: 0;
    letter-spacing: 0.5px;
    float: left;
    margin-top: 211px;
    margin-left: 32px;
}
.owl_content a span {font-weight: 400;letter-spacing: 0.1px;line-height: 29px;}
.owl_content a:hover {
	color: #fff;
	transition: 0.5s ease;
	-webkit-transition: 0.9s ease;
	-moz-transition: 0.9s ease;
	-o-transition: 0.9s ease;
}
.organizers_text {
	font-size: 13px;
	color: #fff;
	line-height: 20px;
	letter-spacing: 0.8px;
	position: relative;
	margin-top: 150px;
}
.organizers_text p {margin-bottom: 15px;padding: 5px 30px 5px 80px;}
.quotes_top, .quotes_bottom {
	font-size: 158px;
	line-height: 0px;
	color: #363434;
	font-family: "Euphemia",arial,sans-serif;
	position: absolute;
}
.quotes_top {top: 10px;left: 28px;}
.quotes_bottom {bottom: -73px;right: -21px;}
.present img{
	height: 235px;
	width: 170px;
	margin-top: 30px;
}
.present_text {
	text-align: center;
	margin-bottom: 20px;
}
.present h2 {
	color: #363434;
    font-size: 40px;
    margin-bottom: 0;
    margin-left: 96px;
    line-height: 64px;
}
.isd {
	font-family: "Impact",sans-serif;
	font-size: 20px;
	letter-spacing: 1.5px;
	line-height: 20px;
}
.present .red_h {
	font-family: "Impact",sans-serif;
	font-size: 57px;
	letter-spacing: 2px;
	line-height: 50px;
}
.present p {
	font-size: 17px;
	color: #2b2424;
	line-height: 20px;
}
.pres_it {
	text-align: center;
	display: inline-block;
	margin: 0 15px;
}
.bottom_numb {
	font-size: 35px;
    color: #999898;
    font-family: "Impact",sans-serif;
    line-height: 34px;
}
.bottom_head {
	color: #363434;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.6px;
}
.pres_it_wrap {
	text-align: center;
	
}
.owl_content .nik {
	margin-left: 0px;
    margin-top: 150px;
	width: 237px;
}

.contact {
	background-image: url(img/contact_bg.jpg);
	background-position: left top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 270px 0 90px;
}
.help-head {max-width: 470px;margin-top: 280px;}
.help-head .white_h {
	font-size: 50px;
	letter-spacing: 1px;
    line-height: 10px;
}
.help-head .grey_h {
	font-family: "Open Sans", sans-serif;
	font-size: 41px;
	color: #c3bbbb;
	line-height: 13px;
    letter-spacing: 1px;
}
.help-head .red_h {
	font-size: 51px;
	text-transform: uppercase;
	line-height: 35px; 
}
.contact_form {text-align: center;max-width: 300px;margin-top: 110px;
}
.contact_form button {
	background-color: transparent;
	border: 2px solid #fff;
	font-size: 15px;
	color: #fff;
	width: 210px;
	height: 44px;
}
.contact_form button:hover {
	background-color: rgba(0,0,0,.67);
	transition: 1s ease;
	-webkit-transition: 1s ease;
	-moz-transition: 1s ease;
	-o-transition: 1s ease;
}
.contact_form input {
	background-color: transparent;
	border:none;
	border-bottom: 2px solid #fff;
	outline: none;
	text-align: center;
	display: block;
	height: 40px;
	margin-bottom: 45px;
	width: 100%;
	color: #fff;
	line-height: 40px;
	font-size: 16px;
}
.contact_form input:nth-child(4) {
	width: 60%;
	margin-left: 20%;
	margin-bottom: 20px;
}
input[type="text"]::-webkit-input-placeholder {color: #fff;}
input::-webkit-input-placeholder       {line-height: 40px;  transition: line-height 0.5s ease;color:#fff;opacity: 0.8;font-size: 15px;}
input::-moz-placeholder                {line-height: 40px;  transition: line-height 0.5s ease;color:#fff;opacity: 0.8;font-size: 15px;}
input:-moz-placeholder                 {line-height: 40px;  transition: line-height 0.5s ease;color:#fff;opacity: 0.8;font-size: 15px;}
input:-ms-input-placeholder            {line-height: 40px;  transition: line-height 0.5s ease;color:#fff;opacity: 0.8;font-size: 15px;}
input:focus::-webkit-input-placeholder {line-height: 100px; transition: line-height 0.5s ease;}
input:focus::-moz-placeholder          {line-height: 100px; transition: line-height 0.5s ease;}
input:focus:-moz-placeholder           {line-height: 100px; transition: line-height 0.5s ease;}
input:focus:-ms-input-placeholder      {line-height: 100px; transition: line-height 0.5s ease;}



footer {
	text-align: center;
	padding: 40px 0 20px;
	background-color: #363434;
	color: #777777;
	position: relative;
}
footer p {
	font-size: 18px;
	font-family: "Open Sans",sans-serif;
	font-style: italic;
}
footer p span {
	margin: 0 20px;
}
.ti_logo img {
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 21px;
    right: 10px;
    opacity: 0.5;
}
}
.cop {float: right;margin-right: 88px;font-size: 14px;}
.order_cont a:hover {opacity: 0.7;transition: 0.5s ease;}